<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.som.dao.IStuDao">
   <resultMap type="Student" id="stuMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="origin" column="origin"/>
		
	</resultMap>
	
	<select id="findById" parameterType="int" resultType="Student">
		select * from stu where id=#{id}
	</select>
	
	<select id="findByName" parameterType="String" resultType="Student">
		select * from stu where name=#{name} order by id desc
	</select>
	
	<select id="findByOrigin" parameterType="String" resultType="Student">
		select * from stu where origin=#{origin} order by id desc
	</select>
	
	<!-- 查询所有学生 
		 理论上resultType要写List<Student>
		 但这里只需书写List中的类型即可，即只需书写Student的全路径名
	-->
	<select id="findAll" resultType="Student">
		select * from stu order by id desc
	</select>
	
	<insert id="add" parameterType="Student">
		insert into stu (name,origin) values(#{name},#{origin})
	</insert>
	
	<delete id="deleteById" parameterType="int">
		delete from stu where id=#{id}
	</delete>
	
	<update id="update" parameterType="Student">
		update stu set name=#{name},origin=#{origin} where id=#{id}
	</update>
	
</mapper>
